{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended"],
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "parserOptions": {
        "project": ["tsconfig.json"]
      }
    }
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "no-trailing-spaces": "error",
    "space-before-function-paren": ["error", "always"]
  }
}
