{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "comma-dangle": "error",
    "no-trailing-spaces": "error",
    "space-before-function-paren": "error"
  },
  "globals": {
    "navigator": "readonly",
    "window": "readonly"
  }
}
